div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* Gets overriden by D3-assigned height below */
    margin-right: 2px;
    background-color: teal;
    }

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    }

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}